<% c++ #include <bacs/archive/web/content/form.hpp> %>
<% skin plain %>
    <% view available uses bacs::archive::web::content::available extends base_form %>
        <% template subtitle() %>
            <% gt "Available problems" %>
        <% end template %>
        <% template form() %>
            <h3><% gt "Get available problems" %></h3>
            <form method="post" action="">
                <% form as_p form %>
            </form>
        <% end template %>
        <% template result() %>
            <% if result %>
                <% foreach id in result->id() %>
                    <% gt "The following problems are available:" %>
                    <ul class="problem_ids">
                        <% item %>
                            <li><%= id %></li>
                        <% end %>
                    </ul>
                <% empty %>
                    <% gt "There are no problems available." %>
                <% end %>
            <% end %>
        <% end template %>
    <% end view %>
<% end skin %>
