<% c++ #include <bacs/archive/web/content/form.hpp> %>
<% skin plain %>
    <% view available_response uses bacs::archive::web::content::id_set_response extends id_set_response %>
        <% template caption() %>
            <% gt "The following problems are available:" %>
        <% end template %>
        <% template caption_empty() %>
            <% gt "There are no problems available." %>
        <% end template %>
    <% end view %>
    <% view available uses bacs::archive::web::content::available extends base_form %>
        <% template subtitle() %>
            <% gt "Available problems" %>
        <% end template %>
        <% template form() %>
            <h3><% gt "Get available problems" %></h3>
            <form method="post" action="">
                <% form as_p form %>
            </form>
        <% end template %>
        <% template response() %>
            <% if response %>
                <% using available_response with *response as response_view %>
                    <% include render() from response_view %>
                <% end using %>
            <% end %>
        <% end template %>
    <% end view %>
<% end skin %>
