<% c++ #include "bacs/archive/web/content/base.hpp" %>
<% skin plain %>
    <% view base uses bacs::archive::web::content::base %>
        <% template render() %>
            <!DOCTYPE html>
            <html>
                <head>
                    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js" type="text/javascript"></script>
                    <script>
                        function body_onload()
                        {
                            <% include script_onload() %>
                        }
                    </script>
                    <script>
                        <% include script() %>
                    </script>
                    <% include stylesheets() %>
                    <title>
                        <% include title() %>
                    </title>
                </head>
                <body onload="body_onload();">
                    <% include body() %>
                </body>
            </html>
        <% end template %>
        <% template script() %>
            <!-- Nothing here by default -->
        <% end template %>
        <% template script_onload() %>
            {
                path = window.location.pathname;
                $("ul.menu li a[href='" + path + "']").attr('class', 'current');
                $("ul.menu li a[href!='" + path + "']").attr('class', 'other');
            }
        <% end template %>
        <% template stylesheets() %>
            <link href="/static/plain/base.css" rel="stylesheet" type="text/css">
        <% end template %>
        <% template title() %>
            BACS Archive ::
            <% include subtitle() %>
        <% end template %>
        <% template subtitle() %>
            <!-- Nothing here by default -->
        <% end template %>
        <% template body() %>
            <% include menu() %>
            <% include main() %>
        <% end template %>
        <% template menu() %>
            <ul class="menu">
                <li><a href="<% url "/insert" %>"><% gt "insert" %></a></li>
                <li><a href="<% url "/extract" %>"><% gt "extract" %></a></li>
                <li><a href="<% url "/rename" %>"><% gt "rename" %></a></li>
                <li><a href="<% url "/existing" %>"><% gt "existing" %></a></li>
                <li><a href="<% url "/available" %>"><% gt "available" %></a></li>
                <li><a href="<% url "/status" %>"><% gt "status" %></a></li>
                <li><a href="<% url "/with_flag" %>"><% gt "with flag" %></a></li>
                <li><a href="<% url "/set_flags" %>"><% gt "set flags" %></a></li>
                <li><a href="<% url "/unset_flags" %>"><% gt "unset flags" %></a></li>
                <li><a href="<% url "/clear_flags" %>"><% gt "clear flags" %></a></li>
                <li><a href="<% url "/ignore" %>"><% gt "ignore" %></a></li>
                <li><a href="<% url "/info" %>"><% gt "info" %></a></li>
                <li><a href="<% url "/hash" %>"><% gt "hash" %></a></li>
                <li><a href="<% url "/repack" %>"><% gt "repack" %></a></li>
            </ul>
        <% end template %>
        <% template main() %>
            Hi, folks!
        <% end template %>
    <% end view %>
<% end skin %>
