<% c++ #include "bacs/archive/web/content/base_form.hpp" %>
<% skin plain %>
    <% view base_form uses bacs::archive::web::content::base_form extends base %>
        <% template body() %>
            <% include form() %>
            <% include result() %>
        <% end template %>
        <% template form() %>
            Form here...
        <% end template %>
        <% template result() %>
            Result here...
        <% end template %>
    <% end view %>
<% end skin %>
