<% c++ #include "bacs/archive/web/content/base.hpp" %>
<% skin plain %>
    <% view base uses bacs::archive::web::content::base %>
        <% template render() %>
            <html>
                <head>
                    <title><%= title %></title>
                </head>
                <body>
                    <% include menu() %>
                    <% include body() %>
                </body>
            </html>
        <% end template %>
        <% template menu() %>
            <table border="1">
                <tr>
                    <td style="padding:5px"><a href="<% url "/insert" %>"><% gt "insert" %></a></td>
                    <td style="padding:5px"><a href="<% url "/extract" %>"><% gt "extract" %></a></td>
                    <td style="padding:5px"><a href="<% url "/rename" %>"><% gt "rename" %></a></td>
                    <td style="padding:5px"><a href="<% url "/existing" %>"><% gt "existing" %></a></td>
                    <td style="padding:5px"><a href="<% url "/available" %>"><% gt "available" %></a></td>
                    <td style="padding:5px"><a href="<% url "/status" %>"><% gt "status" %></a></td>
                    <td style="padding:5px"><a href="<% url "/with_flag" %>"><% gt "with_flag" %></a></td>
                    <td style="padding:5px"><a href="<% url "/set_flags" %>"><% gt "set_flags" %></a></td>
                    <td style="padding:5px"><a href="<% url "/unset_flags" %>"><% gt "unset_flags" %></a></td>
                    <td style="padding:5px"><a href="<% url "/clear_flags" %>"><% gt "clear_flags" %></a></td>
                    <td style="padding:5px"><a href="<% url "/ignore" %>"><% gt "ignore" %></a></td>
                    <td style="padding:5px"><a href="<% url "/info" %>"><% gt "info" %></a></td>
                    <td style="padding:5px"><a href="<% url "/hash" %>"><% gt "hash" %></a></td>
                    <td style="padding:5px"><a href="<% url "/repack" %>"><% gt "repack" %></a></td>
                </tr>
            </table>
        <% end template %>
        <% template body() %>
            Hi, folks!
        <% end template %>
    <% end view %>
<% end skin %>
