<% c++ #include <bacs/archive/web/content/form.hpp> %>
<% skin plain %>
    <% view existing_result uses bacs::archive::web::content::id_set_result extends id_set_result %>
        <% template caption() %>
            <% gt "The following problems exist:" %>
        <% end template %>
        <% template caption_empty() %>
            <% gt "There are no existing problems." %>
        <% end template %>
    <% end view %>
    <% view existing uses bacs::archive::web::content::existing extends base_form %>
        <% template subtitle() %>
            <% gt "Existing problems" %>
        <% end template %>
        <% template form() %>
            <h3><% gt "Get existing problems" %></h3>
            <form method="post" action="">
                <% form as_p form %>
            </form>
        <% end template %>
        <% template result() %>
            <% if result %>
                <% using existing_result with *result as result_view %>
                    <% include render() from result_view %>
                <% end using %>
            <% end %>
        <% end template %>
    <% end view %>
<% end skin %>
