<% c++ #include "bacs/archive/web/content/form.hpp" %>
<% skin plain %>
    <% view extract uses bacs::archive::web::content::extract extends base_form %>
        <% template form() %>
            <p><% gt "Extract problems from archive" %></p>
            <% form as_p form %>
        <% end template %>
        <% template result() %>
            <% if result %>
                <p><% gt "Extraction error: " %><%= result.get() %></p>
            <% end %>
        <% end template %>
    <% end view %>
<% end skin %>
