<% c++ #include "bacs/archive/web/content/form.hpp" %>
<% c++ #include "bacs/archive/web/filters/base64_binary.hpp" %>
<% skin plain %>
    <% view info uses bacs::archive::web::content::info extends base_form %>
        <% template form() %>
            <p><% gt "Get problems info" %></p>
            <form method="post" action="">
                <% form as_p form %>
            </form>
        <% end template %>
        <% template result() %>
            <% if result %>
                <% foreach id_info in result.get() %>
                    <table>
                        <caption><% gt "Problem info" %></caption>
                        <tr>
                            <th><% gt "Problem" %></th>
                            <th><% gt "Info" %></th>
                        </tr>
                        <% item %>
                            <tr>
                                <td><%= id_info.first %></td>
                                <td>
                                    <% if id_info.second %>
                                        <%= id_info.second.get() | base64_binary %>
                                    <% else %>
                                        <% gt "Not found" %>
                                    <% end %>
                                </td>
                            </tr>
                        <% end %>
                    </table>
                <% empty %>
                    <% gt "There are no problems available." %>
                <% end %>
            <% end %>
        <% end template %>
    <% end view %>
<% end skin %>
