<% c++ #include <bacs/archive/web/content/form.hpp> %>
<% skin plain %>
    <% view insert_result uses bacs::archive::web::content::status_map_result extends status_map_result %>
        <% template caption() %>
            <% gt "Insertion results" %>
        <% end template %>
    <% end view %>
    <% view insert uses bacs::archive::web::content::insert extends base_form %>
        <% template subtitle() %>
            <% gt "Insert problems" %>
        <% end template %>
        <% template form() %>
            <h3><% gt "Insert problems in archive" %></h3>
            <form method="post" action="" enctype="multipart/form-data">
                <% form as_p form %>
            </form>
        <% end template %>
        <% template result() %>
            <% if result %>
                <% using insert_result with *result as result_view %>
                    <% include render() from result_view %>
                <% end using %>
            <% end %>
        <% end template %>
    <% end view %>
<% end skin %>
