<% c++ #include <bacs/archive/web/content/form.hpp> %>
<% skin plain %>
    <% view rename uses bacs::archive::web::content::rename extends base_form %>
        <% template subtitle() %>
            <% gt "Rename problem" %>
        <% end template %>
        <% template form() %>
            <h3><% gt "Rename problem" %></h3>
            <form method="post" action="">
                <% form as_p form %>
            </form>
        <% end template %>
        <% template result() %>
            <% if result %>
                <!-- FIXME -->
                <p>
                    <% gt "Import status:" %>
                    <% if result->has_error() %>
                        <pre class="error"><%= result->error().ShortDebugString() %></pre>
                    <% else %>
                        <% gt "OK" %>
                    <% end %>
                </p>
                <% if result->has_status() %>
                    <p>
                        <% gt "Problem flags:" %>
                        <pre><%= result->status().flags().DebugString() %></pre>
                    </p>
                    <p>
                        <% gt "Problem revision:" %>
                        <%= result->status().revision().DebugString() %>
                    </p>
                <% else %>
                    <% gt "N/A" %>
                <% end %>
            <% end %>
        <% end template %>
    <% end view %>
<% end skin %>
