<% c++ #include <bacs/archive/web/content/form.hpp> %>
<% c++ #include <bacs/archive/web/filters/base64_binary.hpp> %>
<% skin plain %>
    <% view revision uses bacs::archive::web::content::revision extends base_form %>
        <% template subtitle() %>
            <% gt "Problems revision" %>
        <% end template %>
        <% template form() %>
            <h3><% gt "Get problems revision" %></h3>
            <form method="post" action="">
                <% form as_p form %>
            </form>
        <% end template %>
        <% template result() %>
            <% if result %>
                <% foreach id_revision in result->entry() %>
                    <table border="1" cellspacing="0" cellpadding="10">
                        <caption><% gt "Problem revisions" %></caption>
                        <tr>
                            <th><% gt "Problem" %></th>
                            <th><% gt "Revision" %></th>
                        </tr>
                        <% item %>
                            <tr>
                                <td><%= id_revision.first %></td>
                                <td>
                                    <% if not id_revision.second.empty() %>
                                        <%= id_revision.second | base64_binary %>
                                    <% else %>
                                        <% gt "Not found" %>
                                    <% end %>
                                </td>
                            </tr>
                        <% end %>
                    </table>
                <% empty %>
                    <% gt "There are no problems available." %>
                <% end %>
            <% end %>
        <% end template %>
    <% end view %>
<% end skin %>
