<% c++ #include "bacs/archive/web/content/form.hpp" %>
<% skin plain %>
    <% view status uses bacs::archive::web::content::status extends base_form %>
        <% template subtitle() %>
            <% gt "Problems status" %>
        <% end template %>
        <% template form() %>
            <p><% gt "Get problems status" %></p>
            <form method="post" action="">
                <% form as_p form %>
            </form>
        <% end template %>
        <% template result() %>
            <% if result %>
                <% foreach id_status in result.get() %>
                    <table>
                        <caption><% gt "Problem status" %></caption>
                        <tr>
                            <th><% gt "Problem" %></th>
                            <th><% gt "Flags" %></th>
                            <th><% gt "Hash" %></th>
                        </tr>
                        <% item %>
                            <tr>
                                <td><%= id_status.first %></td>
                                <% if id_status.second %>
                                    <td>
                                        <% foreach flag in id_status.second->flags %>
                                            <% item %>
                                                <%= flag %>
                                            <% end %>
                                        <% end %>
                                    </td>
                                    <td><%= id_status.second->hash | base64_binary %></td>
                                <% else %>
                                    <td><% gt "Not found" %></td>
                                <% end %>
                            </tr>
                        <% end %>
                    </table>
                <% empty %>
                    <% gt "There are no existing problems." %>
                <% end %>
            <% end %>
        <% end template %>
    <% end view %>
<% end skin %>
