<% c++ #include <bacs/archive/web/content/form.hpp> %>
<% c++ #include <bacs/archive/web/filters/base64_binary.hpp> %>
<% skin plain %>
    <% view status uses bacs::archive::web::content::status extends base_form %>
        <% template subtitle() %>
            <% gt "Problems status" %>
        <% end template %>
        <% template form() %>
            <h3><% gt "Get problems status" %></h3>
            <form method="post" action="">
                <% form as_p form %>
            </form>
        <% end template %>
        <% template result() %>
            <% if result %>
                <% foreach id_import in result->entry() %>
                    <table border="1" cellspacing="0" cellpadding="10">
                        <caption><% gt "Problem status" %></caption>
                        <tr>
                            <th><% gt "Problem" %></th>
                            <th><% gt "Error" %></th>
                            <th><% gt "Flags" %></th>
                            <th><% gt "Hash" %></th>
                        </tr>
                        <% item %>
                            <tr>
                                <td><%= id_import.first %></td>
                                <td>
                                    <% if id_import.second.has_error() %>
                                        <pre class="error"><%= id_import.second.error() %></pre>
                                    <% else %>
                                        <% gt "OK" %>
                                    <% end %>
                                </td>
                                <% if id_import.second.has_status() %>
                                    <td>
                                        <% foreach flag in id_import.second.status().flags().flag() %>
                                            <ul class="problem_flags">
                                                <% item %>
                                                    <li><%= flag %></li>
                                                <% end %>
                                            </ul>
                                        <% end %>
                                    </td>
                                    <td><%= id_import.second.status().hash() | base64_binary %></td>
                                <% else %>
                                    <!-- Nothing here... -->
                                <% end %>
                            </tr>
                        <% end %>
                    </table>
                <% empty %>
                    <% gt "There are no existing problems." %>
                <% end %>
            <% end %>
        <% end template %>
    <% end view %>
<% end skin %>
