<% c++ #include <bacs/archive/web/content/form.hpp> %>
<% skin plain %>
    <% view with_flag_response uses bacs::archive::web::content::id_set_response extends id_set_response %>
        <% template caption() %>
            <% gt "The following problems has specified flag:" %>
        <% end template %>
        <% template caption_empty() %>
            <% gt "There are no problems with specified flag." %>
        <% end template %>
    <% end view %>
    <% view with_flag uses bacs::archive::web::content::with_flag extends base_form %>
        <% template subtitle() %>
            <% gt "Problems with flag" %>
        <% end template %>
        <% template form() %>
            <h3><% gt "Get problems with flag" %></h3>
            <form method="post" action="">
                <% form as_p form %>
            </form>
        <% end template %>
        <% template response() %>
            <% if response %>
                <% using with_flag_response with *response as response_view %>
                    <% include render() from response_view %>
                <% end using %>
            <% end %>
        <% end template %>
    <% end view %>
<% end skin %>
