<% c++ #include <bacs/archive/web/content/form.hpp> %>
<% skin plain %>
    <% view set_flags uses bacs::archive::web::content::set_flags extends base_form %>
        <% template subtitle() %>
            <% gt "Set flags" %>
        <% end template %>
        <% template form() %>
            <h3><% gt "Set problem flags" %></h3>
            <form method="post" action="">
                <% form as_p form %>
            </form>
        <% end template %>
        <% template response() %>
            <% if response %>
                <% using status_map_response with *response as response_view %>
                    <% include render() from response_view %>
                <% end using %>
            <% end %>
        <% end template %>
    <% end view %>
<% end skin %>
